.banner{
    background-image: url('https://i.postimg.cc/d0RZ4VWw/banner.jpg');
    height: 410px;
    padding-top: 20px;
    justify-content: space-around;
    background-size: cover;
}
.tagline{
    height: 40%;
    justify-content: center;
    text-align: center;
}
.tophead{
   font-weight: bold;
   font-size: 80px;
}
.subtitle{
    color: darkgrey;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-top: 10px;
}

@media (max-width: 767px) {
    .banner{
        padding-top: 80px;
    }
    .tophead{
        font-size: 45px;
     }
     .subtitle{
         color: darkgrey;
         text-transform: capitalize;
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         font-size: 16px;
         padding-top: 10px;
     }
}